// Breakpoints
$mobile: 390px;
$tablet: 768px;
$desktop: 1920px;

// Neutral Colors
$black: #000000;
$white: #ffffff;

// Heading Styles
$heading-font-weight: 700;
$heading-line-height: 140%;

// Label Styles
$text-font-weight: 600;
$text-line-height: 150%;