.pokemonLists {
    width: 100%;
    padding: 150px 20px 150px 20px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    background: linear-gradient(to bottom, $main-blue 0%, $secondary 100%);

    @include tablet {
        grid-template-columns: repeat(3, 1fr);
    }

    @include desktop {
        grid-template-columns: repeat(4, 1fr);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.fetching {
    display: block;
    width: 100px;
    height: 10px;
}