.header {
    color: $main-blue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: $white;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    box-shadow: $box-shadow;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;

    @include tablet {
        padding: 0 40px;
    }

    @include desktop {
        padding: 0 68px;
        height: 110px;
    }

    & .h1 {
        @include heading-xl;

        @include tablet {
            @include heading-xxl;
        }

        @include desktop {
            @include heading-xxxl;
        }
    }
}